#surveyCreatorContainer {
  width: 100%;
  height: calc(100dvh - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  .sd-container-modern {
    height: 100%;
  }
}

.template-status-indicator {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.sv-creator-tab {
  height: 95% !important;
  overflow: auto;
} 