$primary-color: rgb(0, 84, 209);
$gray-color: rgba(144, 144, 144, 0.5);

/* Primary color variable */
global {
  --primary-color: rgb(0, 84, 209);
}

#creator {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 4px;
  position: relative;

  .svc-flex-row {
    background: transparent !important;
  }
}

.creator-dialog {
  .sd-root-modern {
    background-color: transparent;
  }

  .sv-popup__body-header {
    color: var(
      --sjs-font-editorfont-color,
      var(--sjs-general-forecolor, rgba(0, 0, 0, 0.91))
    );
    margin-bottom: 0;
    font-family: var(--font-family);
    font-size: var(--sjs-font-size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: calc(1.5 * (var(--sjs-font-size, 16px)));
  }

  & .sv-components-row > .sv-components-column--expandable {
    width: auto;
    padding-bottom: 2px;
  }

  .sd-input::placeholder {
    color: #909090;
    user-select: none;
  }

  .sd-checkbox__decorator {
    background-color: hsl(var(--accent));
    border: 1px solid hsl(var(--endatix));
  }

  .sd-checkbox__control:checked + .sd-checkbox__decorator {
    background-color: hsl(var(--endatix));
    border: 1px solid hsl(var(--endatix));
    color: hsl(var(--primary-foreground));
  }

  .sd-checkbox--checked .sd-checkbox__control:focus + .sd-checkbox__decorator .sd-checkbox__svg use {
    fill: hsl(var(--primary-foreground));
  }
  
  .sv-popup__button.sv-modal-popup__button {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    border-radius: calc(var(--radius) - 2px);
    padding: 0.5rem 1rem;

    &.sv-popup__button--cancel {
      border-style: solid;
      border-width: 1px;
      border-color: hsl(var(--input));

      &:hover {
        background-color: hsl(var(--accent));
      }
    }

    &.sd-btn--action {
      color: hsl(var(--primary-foreground));
      background-color: hsl(var(--endatix));

      &:hover {
        color: hsl(var(--primary-foreground));
        background-color: hsl(var(--endatix) / 0.9);
      }
    }

    &.sd-btn--danger {
      color: hsl(var(--primary-foreground));
      background-color: hsl(var(--destructive));

      &:hover {
        color: hsl(var(--primary-foreground));
        background-color: hsl(var(--destructive) / 0.9);
      }
    }
  }
}
